@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --red-500: #f44336;
  --blue-500: #2196f3;
  --green-500: #4caf50;
  --surface-card: #121212;
  --primary-color: #5e157d;
  --text-color-secondary: #ffffff;
  --text-gray: #b5acac;
}
/* Font System
Body Texts:
font-family: 'Oswald', sans-serif;
font-weight: 400; (400, 500, 600, 700)
color: var(--text-color-secondary);

Heading Texts (title, h1, h2, h3, etc)
font-family: 'Cinzel', serif;
font-weight: 700; (400, 600, 700)
letter-spacing: 2px;
text-transform: uppercase;
*/