@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --red-500: #f44336;
  --blue-500: #2196f3;
  --green-500: #4caf50;

  --surface-card: #121212;
  --primary-color: #5e157d;
  --text-color-secondary: #ffffff;
  --text-gray: #b5acac;
  --comp-bg: #1b1b1b;
  --comp-border: #5b5b5b;

  --radius-med: 8px;
  --radius-large: 12px;
  --gap-small: 0.75rem;
  --gap-med: 1.25rem;
  --gap-large: 1.5rem;
}

/* Typography */
body,
input,
textarea,
label,
button {
  font-family: 'Oswald', sans-serif;
  color: var(--text-color-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cinzel', serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color-secondary);
}
